/* body {
    margin: 0;
    padding: 0;
    background-color: #655295;
}

.top {
    text-align: center;
    margin-top: 100px;
}

.header > h1 {
    font-size: 3.25em;
    letter-spacing: -0.025em;
    font-weight: 300;
    color: #ffffff;
}

.header {
    text-align: center;
}

.header > div > p {
    letter-spacing: -0.025em;
    font-size: 1.25em;
    color: #b1bbce;
    line-height: 1.5;
}

.header > div > p > span > a {
    line-height: 1.5;
    text-decoration: none;
    color: #b1bbce;
}

.header > div > p > span > a:hover {
    text-decoration: underline;
}

.nav-section {
    width: 80%;
    margin: 100px auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1em;
    box-sizing: border-box;
}

.navbar {
    background-color: #f7f7f7;
    padding: 0.5em;
    position: sticky;
    top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 10000;
}

.navbar > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.navbar > ul > li {
    list-style: none;
    padding: 0.2em 1em;
    border-radius: 6px;
    font-size: 1.5rem;
}

.navbar > ul > li > a {
    text-decoration: none;
    color: #636363;
}

.navbar > ul > li:hover {
    background-color: #fff;
}

.section2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5em;
}

.section2 > div > h2 {
    color: #636363;
    font-size: 2em;
    font-weight: 300;
    margin: 0 0 0.7em 0;
    letter-spacing: -0.025em;
}

.section2 > div > h2::after {
    background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
    width: 3.25em;
    height: 2px;
    border-radius: 2px;
    margin: 0.7em 0 1em 0;
    display: block;
    content: '';
}

.section2 > div > p {
    margin: 0 0 2em 0;
    color: #636363;
}

.img > img {
    width: 100%;
    max-width: 18em;
    height: auto;
    border-radius: 50%;
    display: block;
}

.circle {
    border: 1px solid #636363;
    padding: 10px;
    border-radius: 50%;
}

.actions {
    display: inline-block;
    cursor: default;
    list-style: none;
    padding-left: 0;
}

.actions > li {
    color: #636363;
    border: 1px solid;
    padding: 15px 40px;
    border-radius: 5px;
}

.actions > li:hover {
    background-color: #f8f4f4;
    cursor: pointer;
}

.section3 > div > h2 {
    font-size: 2em;
    text-align: center;
    font-weight: 300;
    line-height: 1.5;
    margin: 2em 0 0.7em 0;
    letter-spacing: -0.025em;
}

.section3 > div > h2::after {
    background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
    display: block;
    content: '';
    width: 3.25em;
    height: 2px;
    margin: 0.7em auto 1em auto;
    border-radius: 2px;
}

.icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    margin-top: 50px;
}

.icon > div {
    padding: 0;
    border: none;
}

.icon > div > i {
    font-size: 100px;
    background-color: #ffffff;
    padding: 3rem;
    border-radius: 50%;
    border: 1px solid #72cbf1;
}

.text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    margin-top: 0;
}

.text > div > h2 {
    font-size: 2em;
    text-align: center;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: -0.025em;
}

.section4 > div > h1,
.section4 > div > p {
    text-align: center;
}

.section4 > div > h1 {
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 0.7em 0;
    letter-spacing: -0.025em;
    font-size: 2em;
    color: #636363;
}

.section4 > div > p {
    font-size: 1.25em;
    letter-spacing: -0.025em;
    margin: 0 0 2em 0;
    color: #636363;
}

.section4 > div > h1::after {
    background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
    display: block;
    content: '';
    width: 3.25em;
    height: 2px;
    margin: 0.7em auto 1em auto;
    border-radius: 2px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 0;
}

.container > div {
    flex: 1;
    padding: 15px;
    text-align: center;
    color: #ffffff;
}

.container > div:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.container > div:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.container > div i {
    font-size: 2.75rem;
    line-height: 1.3;
    font-weight: 900;
    color: #ffffff;
}

.container > div strong {
    display: block;
    font-size: 2em;
    line-height: 0.9;
    color: inherit;
    font-weight: 300;
    letter-spacing: -0.025em;
}

.container .branch {
    background-color: #fea5ad;
}

.container .folder {
    background-color: #d09ac6;
}

.container .signal {
    background-color: #aa9cc7;
}

.container .laptop {
    background-color: #93b3e1;
}

.container .agem {
    background-color: #72cbf1;
}

.text1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 4rem;
}

.text1 > div > p {
    color: #636363;
    line-height: 1.8;
    text-align: justify;
}

.icon2 {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.icon2 > div i {
    font-size: 50px;
    cursor: pointer;
    color: white;
}

.section5 .actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.section5 .actions > li {
    color: #636363;
    border: 1px solid;
    padding: 15px 40px;
    border-radius: 5px;
}

.section5 .actions > li:hover {
    background-color: #f8f4f4;
}

.section5 .actions .fli {
    background-color: #72cbf1;
}

.section5 .actions .fli:hover {
    background-color: #8ecae4;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

.bottom > div > p,
.bottom > div {
    color: #c7bdbd;
    line-height: 1.8;
}

.bottom > div > h1 {
    color: rgb(240, 236, 236);
}

.bottom > div > ul {
    background-color: #dedbe6;
    border-radius: 10px;
}

.bottom-link {
    text-align: center;
    color: #c7bdbd;
    margin-top: 1rem;
}

.bottom-link a {
    color: #c7bdbd;
    text-decoration: none;
}

.bottom-link a:hover {
    text-decoration: underline;
}

@media  */
.progressBar{
    width:100%;
    min-height: 30px;
   
    border: 1px solid;
  }
  .display{
    width: 20%;
    background-color: aqua;
    min-height: 30px;
  }
  .progressBar-two{
    margin-top: 50px;
    width:100%;
    min-height: 30px;
   
    border: 1px solid;
  }
  .display-two{
    width: 60%;
    background-color: aqua;
    min-height: 30px;
  }